<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwill.steam.game.mapper.GameMapper">
	<resultMap type="com.itwill.steam.game.Game" id="gameWithResourcesAndGameTagAndTagResultMap" autoMapping="true">
		<collection property="resourcesList" ofType="com.itwill.steam.resources.Resources" autoMapping="true">
		</collection>
		<collection property="gameTagList" ofType="com.itwill.steam.gameTag.GameTag" autoMapping="true">
			<association property="tag" javaType="com.itwill.steam.tag.Tag" autoMapping="true">
			</association>
		</collection>
	</resultMap>
	<resultMap type="com.itwill.steam.game.Game" id="gameWithResourcesAndGameTagAndTagAndCategoryAndGameLanguageAndLanguageResultMap" autoMapping="true">
		<association property="category" javaType="com.itwill.steam.category.Category" autoMapping="true">
		</association>
		<collection property="resourcesList" ofType="com.itwill.steam.resources.Resources" autoMapping="true">
		</collection>
		<collection property="gameTagList" ofType="com.itwill.steam.gameTag.GameTag" autoMapping="true">
			<association property="tag" javaType="com.itwill.steam.tag.Tag" autoMapping="true">
			</association>
		</collection>
		<collection property="gameLanguageList" ofType="com.itwill.steam.gameLanguage.GameLanguage" autoMapping="true">
			<association property="language" javaType="com.itwill.steam.language.Language" autoMapping="true">
			</association>
		</collection>
	</resultMap>
	<select id="findAllGames" resultMap="gameWithResourcesAndGameTagAndTagResultMap">
		select * from game g join resources res on g.g_no=res.g_no join game_tag gt on g.g_no=gt.g_no join tag t on t.tag_no=gt.tag_no
	</select>
	<select id="findGamesByName" resultMap="gameWithResourcesAndGameTagAndTagResultMap" parameterType="java.lang.String">
		select * from game g join resources res on g.g_no=res.g_no join game_tag gt on g.g_no=gt.g_no join tag t on t.tag_no=gt.tag_no where g.g_name like '%'||#{gName}||'%'
	</select>
	<select id="findGamesByCategory" resultMap="gameWithResourcesAndGameTagAndTagAndCategoryAndGameLanguageAndLanguageResultMap" parameterType="java.lang.String">
		select * from game g join resources res on g.g_no=res.g_no join game_tag gt on g.g_no=gt.g_no join tag t on t.tag_no=gt.tag_no 
		join category ct on g.ct_no=ct.ct_no join game_language gl on g.g_no=gl.g_no join language l on gl.lang_no=l.lang_no
		where ct.ct_name=#{ctName}
	</select>
	<select id="findGamesByTag" resultMap="gameWithResourcesAndGameTagAndTagAndCategoryAndGameLanguageAndLanguageResultMap" parameterType="java.lang.String">
		select * from game g join resources res on g.g_no=res.g_no join game_tag gt on g.g_no=gt.g_no join tag t on t.tag_no=gt.tag_no 
		join category ct on g.ct_no=ct.ct_no join game_language gl on g.g_no=gl.g_no join language l on gl.lang_no=l.lang_no
		where t.tag_name=#{tagName}
	</select>
	<select id="findGamesByLanguage" resultMap="gameWithResourcesAndGameTagAndTagAndCategoryAndGameLanguageAndLanguageResultMap" parameterType="java.lang.String">
		select * from game g join resources res on g.g_no=res.g_no join game_tag gt on g.g_no=gt.g_no join tag t on t.tag_no=gt.tag_no 
		join category ct on g.ct_no=ct.ct_no join game_language gl on g.g_no=gl.g_no join language l on gl.lang_no=l.lang_no
		where l.lang_name=#{langName}
	</select>
</mapper>