<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="checkout-cart-summary">
	<div class="archive border border-secondary rounded">
		<div class="bg-secondary px-4 py-1"><span class="fw-600 ls-1 text-uppercase lead-1">Cart Summary</span></div>
		<div class="p-4">
			<ul class="list-unstyled small mb-0">
				<li class="small-2">Price Details</li>
				<li><hr class="my-3 border-secondary"></li>
				<li class="my-1">
					<div class="d-flex small-2 fw-600">
						<div>Full Price</div>
						<div class="ml-auto">₩210,000</div>
					</div>
				</li>
				<li class="my-1">
					<div class="d-flex text-info small-2 fw-600">
						<div>Your Discount</div>
						<div class="ml-auto">₩-105,000</div>
					</div>
				</li>
				<li class="my-1">
					<div class="d-flex text-warning small-2 fw-600">
						<div>You Save</div>
						<div class="ml-auto">₩84,000</div>
					</div>
				</li>
				<li class="my-1">
					<div class="d-flex small-2 fw-600">
						<div>Estimated Tax</div>
						<div class="ml-auto text-danger">₩21,000</div>
					</div>
				</li>
				<!-- 
				<li class="my-1">
					<div class="d-flex small-2 fw-600">
						<div>Delivery Charges</div>
						<div class="ml-auto text-warning">Free</div>
					</div>
				</li>
				 -->
				<li><hr class="my-3 border-secondary"></li>
				<li>
					<div class="d-flex small-1 fw-600">
						<div>Total</div>
						<div class="ml-auto text-warning">₩126,000</div>
					</div>
				</li>
				<li><hr class="my-3 border-secondary"></li>
				<li>
					<a href="checkout-address" class="btn btn-lg btn-block btn-warning mt-4">주문하기</a>
				</li>
				<li class="lh-1">
					<span class="small-4 text-lt w-100 mt-4 pb-1 d-inline-block">By clicking Place Order, you accept our <a href="#" target="_blank" class="text-rp text-primary text-underline">refund policy</a>.</span>
				</li>
			</ul>
		</div>
	</div>
</div>