<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>game_list</title>
<link rel="stylesheet" href="css/steam.css">
<script type="text/javascript" src="js/steam.js"></script>   
</head>
<body>
	<h3>game_list</h3><hr>
	<table>
		<tr th:each="game:${gameList}">
			<td width=50 th:text="${game.gNo}">1</td>
			<td width=100 th:text="${game.gName}">1</td>
			<td width=100 th:text="${game.gShortDesc}">1</td>
			<td width=100 th:text="${game.gLongDesc}">1</td>
		</tr>
	</table>
</body>
</html>